<header class="top-page-header">
  <div class="nav">
    <ul class="nav-detail">
      <li><%= link_to "About", '#', class: "list"%></li>
      <li><%= link_to "利用規約", '#', class: "list"%></li>
      <li><%= link_to "お知らせ", '#', class: "list"%></li>
      <li><%= link_to current_user.username, edit_user_path(current_user), class: "list"</li>
    </ul>
  </div>
</header>