<header class="top-page-header">
  <div class="nav">
    <ul class="nav-left">
      <li><%= link_to "About", '#', class: "list"%></li>
      <li><%= link_to "利用規約", '#', class: "list"%></li>
    </ul>
    <ul class="nav-right">
      <li><%= link_to "お知らせ", '#', class: "list"%></li>
      <%# <li><%= link_to current_user.name, '#', class: "name" %></li> %>
  </div>
</header>